# __Anteproyecto de Análisis de Datos - Programación 2__

__Introducción:__

Área de aplicación: turismo interno en Argentina
Se pretende analizar las actividades del sector hotelero dentro del periodo del 2007 al 2024 (hasta el mes de abril) con el fin de hacer un relevamiento que ayude a identificar tendencias y patrones de conducta por parte de los turistas. El fin motivador es guiar la toma de decisiones sobre este sector ya sea en la creación de políticas públicas que ayuden a fomentar o sostener el turismo en las zonas cuya economía dependa de esta actividad. Por esta razón, se hará hincapié en los periodos posteriores al 2020 ya que en dicha etapa la actividad hotelera mermó por la cuarentena causada por el COVID.

__Datasets y previsualización de datos:__

Se seleccionaron cinco datasets del Sistema de Información Turística de la Argentina (SINTA), construidos con base en la Encuesta de Ocupación Hotelera y Parahotelera (EOH), llevada a cabo por la Dirección Nacional de Mercados y Estadística. Si bien dicha fuente está compuesta por treinta archivos de tipo CVS que se actualizan mensualmente, sólo se seleccionaron los que se enfocan en las tasas de ocupación hotelera dividida por regiones, clasificaciones, cantidad de viajantes, plazos de tiempo en los que dichas actividades se realizaron y su debida recaudación. 
No se descarta formar un único dataset con la selección más relevante de columnas de cada dataset.

Descripción por separado, según información de la fuente:

_Dataset 1: Viajeros hospedados en hoteles y parahoteles por región de destino según tipo de residencia_


* indice_tiempo - Fecha ISO-8601 (date) - Indice de tiempo mensual.
* origen_viajeros - Texto (string) - Tipo de residencia de los viajeros hospedados: residentes y no residentes.
* 
region_de_destin -  Text  (string - )Región de destino de los viajeros hospedaos.
* 
viajer - s Número decimal (numb) - r)Viajeros hospedados en los establecimientos hoteleros y parahoteleros del pa.
*  
observacio - es Texto (stri - ng)Especificaciones sobre los valores ausentes o nulos prese en la serie de da.s.

In [4]:
import pandas as pd

dataset1 = "viajeros-hospedados-residentes-y-no-residentes-por-destino.csv"
datos1 = pd.read_csv(dataset1)
datos1.head()

  indice_tiempo region_de_destino origen_viajeros  viajeros observaciones
0    2007-01-01      Buenos Aires      Residentes  401221.0           NaN
1    2007-01-01      Buenos Aires   No residentes   12889.0           NaN
2    2007-01-01              CABA      Residentes  139181.0           NaN
3    2007-01-01              CABA   No residentes  196750.0           NaN
4    2007-01-01              Cuyo      Residentes  125410.0           NaN

_Dataset 2: Estadía media en hoteles y parahoteles por región de destino según tipo de residencia_

* indice_tiempo Fecha ISO-8601 (date)Indice de tiempo mensual  Mensualmente
* 
region_de_destino Texto (string)Región de destin
* 
origen_viajeros Texto (string)Tipo de residencia de los viajeros hospedados en hoteles y parahoteles: residentes y no residentes de Argenti
*  
estadia_media_en_noches Número decimal (number)Estadía media en noches de viajeros hospedados en establecimientos hoteleros y parahotele
*   
observaciones Texto (string)Especificaciones sobre valores ausentes o nulos presentes en la serie

In [6]:
dataset2 = "estadia-media-residentes-y-no-residentes-por-destino.csv"
datos2 = pd.read_csv(dataset2)
datos2.head()

,indice_tiempo,region_de_destino,origen_viajeros,estadia_media_en_noches,observaciones
0,2007-01-01,Buenos Aires,Total,5.3,NaN
1,2007-01-01,Buenos Aires,Residentes,5.3,NaN
2,2007-01-01,Buenos Aires,No residentes,3.8,NaN
3,2007-01-01,CABA,Total,2.4,NaN
4,2007-01-01,CABA,Residentes,2.3,NaN

_Dataset 3: Tasa de ocupación de plazas por región de destino según tipo de categoría de alojamiento_

* indice_tiempo Fecha ISO-8601 (date)Indice de tiempo mensual  Mensualmente
* 
region_de_destino Texto (string)Región de destin
* 
categoria_del_hotel Texto (string)Tipo de categoría del alojamiento según el siguiente agrupamiento: total, hoteles 4 y 5 estrellas, hoteles 3 estrellas, Apartshotel y Hoteles Boutiques, hoteles 1 y 2 estrellas y parahotelero
*  
tasa_de_ocupacion_plazas Número decimal (number)Cociente entre las plazas ocupadas y las plazas disponibles del mes t
*   
observaciones Texto (string)Especificaciones sobre valores ausentes o nulos presentes en la serie.

In [6]:
dataset3 = "tasas-de-ocupacion-plazas-por-region-y-categoria.csv"
datos3 = pd.read_csv(dataset3)
datos3.head()

,indice_tiempo,region_de_destino,categoria_del_hotel,tasa_de_ocupacion_plazas,observaciones
0,2012-01-01,Buenos Aires,1 y 2 estrellas,0.63,NaN
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,0.67,NaN
2,2012-01-01,Buenos Aires,4 y 5 estrellas,0.62,NaN
3,2012-01-01,Buenos Aires,Para Hoteles,0.69,NaN
4,2012-01-01,Buenos Aires,Total,0.66,NaN

_Dataset 4: Tasa de ocupación de habitaciones por región de destino según tipo de categoría de alojamiento_

* indice_tiempo Fecha ISO-8601 (date)Indice de tiempo mensual Mensualmente
* 
region_de_destino Texto (string)Región de destin
* 
categoria_del_hotel Texto (string)Tipo de categoría del alojamiento según el siguiente agrupamiento: total, hoteles 4 y 5 estrellas, hoteles 3 estrellas, Apartshotel y Hoteles Boutiques, hoteles 1 y 2 estrellas y parahotelero
*  
tasa_de_ocupacion_habitaciones Número decimal (number)Cociente entre las habitaciones ocupadas y las disponibles del 
*   
observaciones Texto (string)Especificaciones sobre valores ausentes o nulos presentes en la serie.

In [8]:
dataset4 = "tasas-de-ocupacion-habitacion-por-region-y-categoria.csv"
datos4 = pd.read_csv(dataset4)
datos4.head()

,indice_tiempo,region_de_destino,categoria_del_hotel,tasa_de_ocupacion_habitaciones,observaciones
0,2012-01-01,Buenos Aires,1 y 2 estrellas,0.65,NaN
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,0.72,NaN
2,2012-01-01,Buenos Aires,4 y 5 estrellas,0.67,NaN
3,2012-01-01,Buenos Aires,Para Hoteles,0.76,NaN
4,2012-01-01,Buenos Aires,Total,0.71,NaN

_Dataset 5: Facturación total en hoteles y parahoteles por categoría del alojamiento según región de destino_

* indice_tiempo Fecha ISO-8601 (date)Indice de tiempo mensual Mensualmente
* 
region_de_destino Texto (string)Región de destin
* 
categoria_del_hotel Texto (string)Tipo de categoría del alojamiento según el siguiente agrupamiento: total, hoteles 4 y 5 estrellas, hoteles 3 estrellas, Apartshotel y Hoteles Boutiques, hoteles 1 y 2 estrellas y parahotelero
*  
facturacion_total_en_pesos Número decimal (number)Ingresos totales (en pesos y a precios corrientes) por los servicios de alojamiento y otros servicios secundarios del alojamie
*   
observaciones Texto (string)Especificaciones sobre valores ausentes o nulos presentes en la serie.

In [10]:
dataset5 = "facturacion-total-en-pesos-por-region-y-categoria.csv"
datos5 = pd.read_csv(dataset5)
datos5.head()

,indice_tiempo,region_de_destino,categoria_del_hotel,facturacion_total_en_pesos,observaciones
0,2012-01-01,Buenos Aires,1 y 2 estrellas,44811124.0,NaN
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,88000600.0,NaN
2,2012-01-01,Buenos Aires,4 y 5 estrellas,68474622.0,NaN
3,2012-01-01,Buenos Aires,Para Hoteles,81220502.0,NaN
4,2012-01-01,CABA,1 y 2 estrellas,11029073.0,NaN

En primera instancia, se pretende seleccionar las siguientes columnas, logrando un único dataset:

* indice_tiempo
* origen_viajeros
* region_destino
* viajeros
* estadia_media_en_noches
* categoria_del_hotel
* tasa_de_ocupacion_plazas
* tasa_de_ocupacion_habitaciones
* facturacion_total_en_pesosos

__Objetivos del proyecto:__

Preguntas a contetsa:r¿Cuál es la región del país que menos facturación tuvo durante las últimas vacaciones de verano?
¿Qué categorías de alojamiento fueron las más exitosas en ocupación de habitaciones entre las regiones con menos facturación?
Dentro del periodo de las vacaciones de verano del 2020, ¿qué tipo de turistas (residentes o no residentes) tuvieron estadías más largas?
Dentro de los registros pertenecientes al 2024, ¿cuál es la región más visitada por los turistas residentes?
tes?